<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <h1>
        Users
    </h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        <tr th:each="person : ${persons}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.firstname}"></td>
        </tr>
    </table>

    <form action="#" th:action="@{/persons/put}" method="post">
        <input type="text" name="firstname">
        <input type="text" name="lastname">
        <input type="submit" value="Submit">
    </form>

</body>
</html>